yt-dlp
whisper
openpyxl
BeautifulSoup
ffmpeg
pptx
fitz
pytesseract
transformers
pandas
pillow
docx
fastapi
slugify
langchain
pydantic
pytube
cohere
openai
sentence-transformers
chromadb